body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}
nav {
    display: flex;
    align-items: center;


}
h1 {
    display: inline;
    padding-left: 15px;
}
nav a{
    text-decoration: none;
    padding: 15px;
}
.nav-right{
    margin-left: auto;
    padding-right: 15px;
}
.login{
    font-size: large;
    width: 90px;
    height: 40px;
    background-color:#b7dbff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.signUp{
    font-size: large;
    width: 90px;
    height: 40px;
    background-color:#137fec;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
main div button{
    color: white;
    font-size: large;
    width: 90px;
    height: 40px;
    background-color:#137fec;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}



main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
    height: 400px;
    background-image: url('images/services.jpg');
}
main h3,main h1{
    color: rgb(0, 177, 242);
    background-color: rgba(0, 0, 0, 0.6);
}
main div {
    background-color: white;
    display: inline-block;
    padding: 15px;
    border-radius: 15px;
    margin: 30px;
}
main div input{
    height: 40px;
    width: 250px;
    border-radius:15px ;
    border-width: 0.2px; 
}
#location{
    height: 44px;
    width: 150px;
    border-radius:15px ;
}